    /* styles/Hero.module.css */
    
    .heroContainer {
        position: relative;
        height: 600px;
        border-radius: 8px;
        overflow: hidden;
        /* Responsive adjustments */
        @media (min-width: 768px) {
            flex-direction: row;
            /* Align items horizontally on wider screens */
            justify-content: flex-end;
        }
    }
    
    .heroContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        /* Responsive adjustments */
        @media (min-width: 768px) {
            width: 50%;
            /* Take up half of the width on wider screens */
            text-align: left;
            /* Align text to the left */
            padding: 20px;
            /* Add padding to the content */
        }
    }
    
    .heroTitle {
        font-size: 3rem;
        color: #fff;
        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }
    
    .heroImage {
        width: 50%;
        /* Take up half of the width on wider screens */
    }
    
    .heroSubtitle {
        font-size: 1.5rem;
        color: #fff;
        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }
    
    .heroButtons {
        margin-top: 20px;
    }
    
    .heroButtons button {
        border-radius: 20px;
        /* Adjust the border-radius as needed */
        margin-right: 10px;
        /* Add some space between buttons */
        padding: 10px 20px;
        /* Add padding to the buttons for a larger clickable area */
        background-color: rgb(32, 15, 0);
        color: #fff;
        border-width: 5px;
        border-color: #fff;
    }